*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: #aac;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    background: #310055;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 0 20px;
}

.flex-item{
    width: 200px;
    height: 150px;
    background: #aac000;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    color: crimson;
    font-size: 1.3rem;
    border-radius: 5px;
    text-transform: capitalize;
    flex-shrink: 1;
}