* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: #090305;
}

h1{
    background: linear-gradient(3deg,rgb(7, 31, 241) 19%, #0bd2ff 33% ,#9ff544 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12rem;
}